# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
Backend/.vs/EC.V1/v17/.suo
Backend/.vs/EC.V1/v17/.suo
Backend/EC.V1/obj/staticwebassets.pack.sentinel
Backend/EC.V1/obj/Debug/net6.0/EC.V1.csproj.AssemblyReference.cache
Backend/EC.V1/obj/Debug/net6.0/EC.V1.dll
Backend/Data/bin/Debug/net6.0/Data.dll

Backend/.vs/EC.V1/DesignTimeBuild/.dtbcache.v2
.gitignore
.gitignore
Backend/.vs/EC.V1/v17/.suo
Backend/Data/ECV1DevContext.cs
.gitignore
Backend/Data/bin/Debug/net6.0/Data.pdb
Backend/Data/Migrations/20220618061558_khoitaodb.cs
Backend/Data/Migrations/20220618061558_khoitaodb.Designer.cs
Backend/Data/Migrations/ECV1DevContextModelSnapshot.cs
Backend/Data/obj/Data.csproj.nuget.dgspec.json
.gitignore
Backend/Data/obj/Data.csproj.nuget.dgspec.json
Backend/.vs/EC.V1/DesignTimeBuild/.dtbcache.v2
Backend/.vs/EC.V1/v17/.futdcache.v1
Backend/.vs/EC.V1/v17/.suo
Backend/Data/ECV1DevContext.cs
Backend/Data/bin/Debug/net6.0/Data.dll
Backend/Data/bin/Debug/net6.0/Data.pdb
Backend/Data/obj/Data.csproj.nuget.dgspec.json
Backend/Data/obj/Data.csproj.nuget.g.props
Backend/Data/obj/project.assets.json
Backend/Data/obj/project.nuget.cache
Backend/Data/obj/Debug/net6.0/Data.assets.cache
Backend/Data/obj/Debug/net6.0/Data.csproj.AssemblyReference.cache
Backend/Data/obj/Debug/net6.0/Data.csproj.CoreCompileInputs.cache
Backend/Data/obj/Debug/net6.0/Data.csproj.FileListAbsolute.txt
Backend/Data/obj/Debug/net6.0/Data.dll
Backend/Data/obj/Debug/net6.0/Data.GeneratedMSBuildEditorConfig.editorconfig
Backend/Data/obj/Debug/net6.0/Data.pdb
Backend/Data/obj/Debug/net6.0/ref/Data.dll
Backend/Data/obj/Debug/net6.0/refint/Data.dll
Backend/EC.V1/bin/Debug/net6.0/EC.V1.dll
Backend/EC.V1/bin/Debug/net6.0/EC.V1.exe
Backend/EC.V1/bin/Debug/net6.0/EC.V1.pdb
Backend/EC.V1/obj/EC.V1.csproj.nuget.dgspec.json
Backend/EC.V1/obj/EC.V1.csproj.nuget.g.props
Backend/EC.V1/obj/project.assets.json
Backend/EC.V1/obj/project.nuget.cache
Backend/EC.V1/obj/staticwebassets.pack.sentinel
Backend/EC.V1/obj/Debug/net6.0/apphost.exe
Backend/EC.V1/obj/Debug/net6.0/EC.V1.assets.cache
Backend/EC.V1/obj/Debug/net6.0/EC.V1.csproj.AssemblyReference.cache
Backend/EC.V1/obj/Debug/net6.0/EC.V1.csproj.CoreCompileInputs.cache
Backend/EC.V1/obj/Debug/net6.0/EC.V1.csproj.FileListAbsolute.txt
Backend/EC.V1/obj/Debug/net6.0/EC.V1.dll
Backend/EC.V1/obj/Debug/net6.0/EC.V1.GeneratedMSBuildEditorConfig.editorconfig
Backend/EC.V1/obj/Debug/net6.0/EC.V1.genruntimeconfig.cache
Backend/EC.V1/obj/Debug/net6.0/EC.V1.pdb
Backend/EC.V1/obj/Debug/net6.0/ref/EC.V1.dll
Backend/EC.V1/obj/Debug/net6.0/refint/EC.V1.dll
